
<mat-drawer-container class="side-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <div class="sidenav-section" *ngFor="let section of sideBarContent">
        <p>{{section.section}}</p>
        <div class="section-item" *ngFor="let item of section.content">
          <p>{{item.label}}</p>
        </div>
      </div>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">arrow_forward_ios</mat-icon>
        <mat-icon *ngIf="drawer.opened">arrow_back_ios</mat-icon>
      </button>
    </div>
  
  </mat-drawer-container>

