.side-container {
    height: 100%;
    width: 100%;
}

.sidenav-header {
    margin: 10px;
    border-bottom: 1px solid salmon;
}

h1 {
    text-align: center;
}

.sidenav-section {
    margin: 10px;
}

.sidenav-item {
    margin: 10px;
}

.content-header {
    display: flex;
    width: 100%;
}

.side-toggler {
    width: 5%;
}

app-header {
    width: 95%;
}

app-body {
    height: 80%;
}

app-footer {
    align-self: flex-end;
}