.side-container {
    height: 80%;
    width: 100%;
}

.sidenav-section {
    margin: 5px;
    font-weight: bold;
    font-size: large;
}

.section-item {
    margin: 5px;
    font-weight: lighter;
    font-size: medium;
}
