.headerSection {
    background: linear-gradient(to left, #606060 0%, #101010 100%);
    color: white;
}

.header {
    display: flex;
    height: 70px;
    width: 100%;
}

.headerTitle {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 50%;
    height: 100%;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.headerLogin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

.userAddress {
    color: white;
    font-size: large;
}