body {
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header-intro {
    background-image: url('public/doorway-1@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height: 500px;
}

.welcome-msg {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 50px;
    width: 180px;
}

.intro-group-article {
    padding: 20px;
    border-radius: 10px;
    margin-right: 100px;
    background-color: rgba(218, 222, 223, 0.13);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
}

.base {
    display: flex;
    font-family: Inter;
    color: white;
    width: 100%;
    border: 1px solid black;
}

.rectangle-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 1em;
    background-color: #282a2b;
    mix-blend-mode: hard-light;
}

.rectangle-header a {
    margin-right: 1em;
}

.imx-log-in {
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color:rgb(79, 235, 235);
}

.hook {
    display: flex;
    flex-direction: column;
}

.monster1 {
    height: 60px;
    width: 90px;
}

.monster2 {
    height: 60px;
    width: 90px;
}

.hook-upper {
    display: flex;
    background-color: #201f1f;
}

.hook-image {
    display: flex;

}

.hook-image-left {
    display: flex;
    width: 50%;
}

.hook-image-right {
    display: flex;
    width: 50%;
}