body {
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header-intro {
    background-image: url('public/doorway-1@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height: 500px;
}

.welcome-msg {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 30px;
    width: 30%;
}

.intro-group-article {
    padding: 20px;
    border-radius: 10px;
    margin-right: 100px;
    background-color: rgba(218, 222, 223, 0.13);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
}

.base {
    display: flex;
    font-family: Inter;
    color: white;
    width: 100%;
}

.rectangle-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5em;
    padding-right: 1em;
    background-color: #282a2b;
    mix-blend-mode: hard-light;
}

.nav-items {
    padding-left: 10px;
    padding-right: 10px;
}

.imx-log-in {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(15, 184, 222);
}

.imx-log-in a {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.hook {
    display: flex;
    flex-direction: column;
}

.monster1 {
    margin-top: 20px;
    position: relative;
    height: 16;
    width: 9;
}

.monster2 {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 160px;
    width: 160px;
}

.hook-upper {
    display: flex;
    background-color: #201f1f;
    height: 200px;
}

.hook-msg {
    width: 60%;
    padding-left: 30px;
    padding-top: 30px;
}

.hook-image {
    display: flex;
    
}

.hook-image-left {
    display: flex;
    width: 50%;
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #201f1f;
}

.story {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #201f1f;
}

.meet-the-team {
    width: 100%;
    text-align: center;
}

.team-cards-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 0px;
}

.team-cards {
    text-align: center;
    width: 150px;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.team-image {
    height: 120px;
    width: 100px;
}

.action-button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.action-button {
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #242C40;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #242C40;
}

.rectangle-community {
    text-align: center;
    padding: 20px;
}

.social-icon {
    height: 40px;
    width: 40px;
}

.fine-print {
    padding: 10px;
    margin-right: 50px;
}

.powered-by {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.logo-immutable {
    height: 60px;
    width: 100px;
}


