.mainSection {
    display: flex;
    height: 550px;
    width: 100%;
}

.header {
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid black;

}

.headerTitle {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.headerLogin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border: 1px solid black;
}

.link {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.body {
    border: 1px solid black;
    height: 100%;
    width: 80%;
}

.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gameCanvas {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 90%;
}

.footerSection {
    border: 1px solid black;
    height: 100px;
    width: 100%;

}