.mainSection {
    display: flex;
    height: 500px;
    width: 100%;
}

.header {
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid black;

}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border: 1px solid black;
}

.body {
    border: 1px solid black;
    height: 100%;
    width: 80%;
}

.footer {
    border: 1px solid black;
    height: 150px;
    width: 100%;

}